  <!DOCTYPE html>
  <html>
    <head>
      <title>Blogku</title>
      <style type="text/css" media="screen">
        body {background-color: white;}
      </style>
    </head>
    <body>
      {% block content %}
      {% endblock content %}
    </body>
  </html>
