{% extends "base.html" %}

{% block content %}
    <h1>List Blog</h1>
    {% if blogs %}
      {% for blog in blogs %}
        <a href="/blog/{{ blog.id }}/">{{ blog.judul }}</a> <br/>
      {% endfor %}
    {% endif %}
{% endblock content %}
